@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;600;700&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    cursor: default;
}

.contenedor{
    max-width:1140px;
    margin:0 auto;
    padding:0 10px;
}

$colores: (
    greenColor:#F6F9FE,
    purpleColor:#382965,
    textColor:#353252,
    textColorTwo:#7C7D7F,
    blackColor: #000,
    grayColor: #DDDFE7,
    whiteColor: #ffffff,
    
);